@font-face {
  font-family: "Avenir";
  src: url("./fonts/AvenirLTStd-Medium.otf");
}

@font-face {
  font-family: "Avenir-Heavy";
  src: url("./fonts/AvenirLTStd-Heavy.otf");
}

@font-face {
  font-family: "Avenir-Roman";
  src: url("./fonts/AvenirLTStd-Roman.otf");
}

@font-face {
  font-family: "Avenir-Light";
  src: url("./fonts/AvenirLTStd-Light.otf");
}

body {
  background-image: url("./space.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* or */
  color: white;
  background-size: cover;
  background-position: center right;
  min-height: 100vh; /* Ensure full viewport coverage */
}

.container {
  width: 80%;
  min-height: 90vh;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.content {
  background-image: linear-gradient(#000000cc, #00000026);
  width: 35vw;
  padding: 20px;
  margin-top: 20px;
  font-family: "Avenir", sans-serif;
  border-radius: 20px;
}

h1 {
  font-family: "Avenir-Heavy";
  font-weight: 800;
  font-style: Heavy;
  font-size: 40px;
  leading-trim: NONE;
  line-height: 72px;
  letter-spacing: 0%;
}

.content p {
  font-family: "Avenir-Light";
  font-size: 20px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
}

.content button {
  font-size: 20px;
  background-color: #63e1e1;
  padding: 20px 50px;
  border-radius: 36px;
  margin-top: 30px;
  border: none;
}

.list {
  display: flex;
  gap: 10px;
  background-image: linear-gradient(#000000cc, #00000026);
  border: 1px solid white;
  border-radius: 20px;
  margin: 40px 0;
  padding: 20px;
}

.list h2 {
  font-family: "Avenir";
  font-weight: bold;
  font-size: 20px;
}

.list p {
  font-family: "Avenir-Roman";
  font-size: 16px;
  margin-top: 10px;
}
